@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hero-tabs {
  @apply sticky bottom-0 bg-black py-4;
  .tab {
    @apply grid place-items-center;
  }
}

.skill {
  &__title {
    @apply px-4 py-2 border border-white;
  }
  &__attack,
  &__ability {
    @apply grid gap-1 mx-2;
    &__slot {
      @apply bg-amber-50 text-gray-800 p-2 rounded-b-lg;
    }
    &__desc {
      @apply bg-amber-50 text-gray-800 p-2;
    }
  }
  &__attack {
    @apply grid-cols-4;
    &__slot {
      @apply py-4 text-center;
    }
  }
}
